.app-layout {
  height: 100vh;
  width: 100vw;
}

.main-layout {
  height: calc(100vh - 30px);
}

.ant-layout-sider {
  background: #252526 !important;
}

.ant-layout-content {
  display: flex;
  flex-direction: column;
}
